{% assign ph_v     = data.policyholder.entity.values %}
{% assign policy = data.policy %}
{% assign policy_c = policy.characteristics.last %}
{% assign policy_v = policy_c.field_values %}
{% assign exp_v = data.policy.exposures[0].characteristics.last.field_values %}
{% assign end_display = data.policy.effective_contract_end_timestamp | timestamp_millis_add: "day", -1 %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
</head>

{% header %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
  <table width="100%">
    <tr>
      <td>
        <p class="header-contact">
          {{policy_v.business_dba}}<br>
          {{policy_v.business_address}}<br>
          {{policy_v.business_email}}<br>
          Fein #: {{policy_v.fein_number}}
        </p>
      </td>
      <td>
        <img src="http://i.imgur.com/cCB0v64.png" title="Acme Insurance Co" class="logo" height="72px">
      </td>
    </tr>
  </table>
{% endheader %}

<h1>{{policy_v.business_dba}} Commercial Liability Policy Schedule</h1><br>

<h3>Insurance Details</h3>

<table class="table border-tops-only content">
   <tr>
    <td>Policy</td>
    <td>
      <b>Number:</b> {{policy.display_id}}<br>
      <b>Term:</b> {{policy.original_contract_start_timestamp | timestamp_millis_print: "d MMM YYYY" }}
      through {{end_display | timestamp_millis_print: "d MMM YYYY" }}<br>
      <b>Business Name and dba:</b> {{policy_v.business_dba}}<br> 
     </td>
    </tr>
    <tr>
    <td>Qualification Details</td>
    <td>
      <b>FEIN - EIN Number Declared as:</b>  {{policy_v.fein_number}}<br>
      <b>Pending Claims Declared as: </b>{{policy_v.pending_claims}}<br>
      <b>Legal Entity:</b> {{policy_v.legal_entity}}<br></td>
    </tr>
   <tr>
    <td>Exposure(s)</td>
    <td>
      <b>Full Time Employees:</b> {{exp_v.fulltimeemployees| format_number_pattern: "0"}}<br> 
      <b>Address:</b> {{exp_v.street}}, {{exp_v.city}} {{exp_v.state}} {{exp_v.zip}}<br>
      <b>Office Domicile State:</b> {{exp_v.state}}<br>
      <b>Subcontractor %:</b> {{exp_v.subcontractors_percent}}<br>
      
      <b>Revenue Details:</b> {{exp_v.revenuethisyear | format_number_currency: "en","US" }}<br>

    </td>
  </tr>
  <tr>
    <td>Cost Breakdown</td>
    <td>
     <b>Gross Premium:</b>{{policy_c.gross_premium | format_number_currency: "en","US" }}</br>
     <b>Jurisdictional Taxes: </b>{{policy_c.gross_taxes | format_number_currency: "en","US" }}</br>
     <b>Underwriting Fees: </b>{{policy.fees[0].amount | format_number_currency: "en","US" }}</br> 
     <b>Transaction Fees: </b>{{policy.fees[1].amount | format_number_currency: "en","US" }}</br>
    </td>
  </tr>
  <tr>
  <td>Total Due</td>
    <td>
     <b>{{ policy_c.gross_premium | plus: policy_c.gross_taxes  | plus: policy.fees[0].amount | plus: policy.fees[1].amount | format_number_currency: "en","US" }}</br> 
    </td>
  </table>

<br>

<b>Authorized on</b> {{policy.issued_timestamp | timestamp_millis_print: "d MMM YYYY" }}

{% footer %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
  <table width="100%">
    <tr>
      <td>
        <p class="header-contact">
          {{policy_v.business_dba}}
        </p>
      </td>
      <td>
        <p class="header-contact">
          Page <span class="page"></span> of <span class="topage"></span>
        </p>
      </td>
      <td>
        <footer></footer>
      </td>
    </tr>
  </table>
{% endfooter %}
