{% assign policy = data.policy %}
{% assign exposure = data.policy.exposures[0].characteristics[0].field_values %}
{% assign audit_notification = data.audit_notification %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
</head>

<table width="100%" class="header">
  <tr>
    <td>
      <p class="header-contact">
        Acme Insurance Co.<br>
        33 New Montgomery St<br>
        San Francisco, CA<br>
        +1 415 555 5555<br>
        www.socotra.com
      </p>
    </td>
    <td>
      <img src="http://i.imgur.com/cCB0v64.png" title="Acme Insurance Co" class="logo" height="72px">
    </td>
  </tr>
</table>

<h1>Audit Notification</h1>

Your policy numbered {{ policy.display_id }} is scheduled for audit as per the guidelines of WCIRB. Your chosen Audit Period {{data.policy.audit_period}} and please verify the following information and have them handy while scheduling an audit.

{{exposure.annual_payroll}}
{{exposure.wcirb_number}}
{{exposure.class_code}}
{{exposure.x_mod}}

To ensure continued coverage, please schedule an audit with your insurance controller by calling 1-888-888-8888 or by logging in to your account

<footer>Acme - Keep your loved ones secure.</footer>
